@mixin clear-fix {
    &::after {
        content: "";
        display: table;
        clear: both;

    }
}


@mixin buttom{
    .btn {
        font-size: 1rem;
        text-transform: uppercase;
        text-decoration: none;
        background-color: $white;
        display: inline-block;
        padding: 0.5rem 0.5rem;
        border-radius: 2rem;
        margin-top: 0.5rem;
        transform: all 1s;
        position: relative;
        z-index: 1000;
      
        &:hover {
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
          transform: translateY(-1px);
          
          
          &::after {
            transform: scaleX(1.3) scaleY(1.5);
            opacity: 0;
        
          }
      
        }
      
        &:active {
          transform: translateY(1px);
        }
      
        &-white {
          background-color: $white;
          color: $gray;
      
          &::after {
            background-color: $white;
        
          }
        }
      
      
        &::after {
          content: "";
          display: inline-block;
          height: 100%;
          width: 100%;
          border-radius: 100px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: all .4s ease-in;
        }
      
      
        &-animation {
          animation: moveinbotom 2.25s ease-in-out;
        }
      
      }
    
      .link-arrow{
       
        position: absolute;
        right: 24rem;
        top: 19rem;
        
        text-decoration: none;
        padding: 1rem 1rem ;
        background-color: $white;
        border-radius: 1rem;
       cursor: pointer;
        
    
      }
}