//color
$lite-green : #7ed56f;
$medium-green: #55c57a;
$Dark-green : #28b485;
$white: #fff;
$gray: #777;
$lite-gray:#e7d7d7;
$black:#0000;


$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


//Grid
$grid-width:100rem;
$gutter-horizontal:100px;



$amir: linear-gradient(to right bottom ,$lite-green,  $Dark-green);
$abi: linear-gradient(to right bottom ,rgba(0, 255, 255, 0.541),  rgba(0, 110, 255, 0.541));
$zard: linear-gradient(to right bottom , rgba(255, 196, 0,0.541) ,rgba(255, 115, 0,0.541));
$sabz: linear-gradient(to right bottom , rgba(60, 255, 0,0.541) ,rgba(0, 141, 0,0.541));
// rgb(0, 195, 255) , rgb(0, 195, 255)


