@keyframes moveinleft {
    0% {
      opacity: 0;
      transform: translate(-100px);
    }
  
    // 70%{
    //     transform: translate(60px);
    // }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveinbotom {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  