.u-center-text{text-align: center;}
.u-margin-buttom-2-5{margin-bottom: 2.5rem;}
.u-margin-buttom-1-5{margin-bottom: 1.5rem;}
.u-margin-buttom-1-6{margin-bottom: 6rem !important; }
.u-margin-left-5{margin-left: 4rem;}
.u-margin-left-6{margin-left: 9rem;}
.u-margin-right-6{margin-right: 9rem;}
.u-display-block{display: block;}




.center{    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100rem;
    height: 40rem;
}